html
    head
        title= 'ok'
    body
        h1= message
        pre= title
        ul
            each item in data
                li(key= item.id)= item.name
        div(id="app")
        script(type="module" src=vendor)
        script(type="module" src=index)
